{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  <title>Scanner</title>
{% endblock  %}

  <!--========================================================== -->
  <!--TARJETAS DE LOS MANTENIMIENTOS-->
  <!--========================================================== -->
{% block mantencion1 %}
  <div id="tarjetas" class="border-top border-2">
    <div class="mapa">
      <main id="nose">
        <div class="card" style="width: 18rem;" id="mantenciones">
          <img src="{% static 'img/scanner.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Scaner</h5>
            <p class="card-text">El vehiculo presentaba una perforacion en su neumatico delanero izquierdo, producto de
              un
              elemento con punta.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Fecha: 30 Marzo 2021 </li>
            <li class="list-group-item">Mecanico a cargo: Israel Santander Toro </li>
            <li class="list-group-item">Materiales usados: Scaner automotriz.</li>
          </ul>
        </div>
      </main>
    </div>
  </div>
{% endblock  %}


  <!--========================================================== -->
  <!--GALERIA DE LAS MANTENCIONES-->
  <!--========================================================== -->
{% block galeria1 %}
 <section id="galeria" class="container">
    <div class="text-center text-dark pt-5">
      <h1 class="fw-bold">Galeria</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur repellendus, facere voluptatem ipsa
        cum quasi est in natus fugit commodi aliquid incidunt perferendis accusantium rem eius nisi a itaque
        aspernatur.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="{% static 'img/scanner.jpg' %}" data-lightbox="mecanicos">
          <img src="{% static 'img/scanner.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="{% static 'img/scanner_2.jpg' %}" data-lightbox="mecanicos">
          <img src="{% static 'img/scanner_2.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="{% static 'img/scanner_3.jpg' %}" data-lightbox="mecanicos">
          <img src="{% static 'img/scanner_3.jpg' %}" alt="">
        </a>
      </div>
    </div>
  </section>
{% endblock  %}
 
