{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  <title>Limpieza</title>
{% endblock  %}

<!--========================================================== -->
  <!--TARJETAS DE LOS MANTENIMIENTOS-->
  <!--========================================================== -->
  {% block mantencion1 %}
    <div id="tarjetas" class="border-top border-2">
    <div class="mapa">
      <main id="nose">
        <div class="card" style="width: 18rem;" id="mantenciones">
          <img src="{% static 'img/kilometraje.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mantencion 40.000</h5>
            <p class="card-text">El cliente trajo su vehiuculo para su correspondiente revision y mantencion de su
              vehiculo.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Fecha: 11 Noviembre 2018 </li>
            <li class="list-group-item">Mecanico a cargo: Luis Riquelme Galaz</li>
            <li class="list-group-item">Materiales usados: Aceite Mobil 1 ultra premium, filtro de aire, filtro de
              aceite,
              pastillas de frenos.</li>
          </ul>
        </div>
      </main>
    </div>
  </div>
  {% endblock  %}


  <!--========================================================== -->
  <!--GALERIA DE LAS MANTENCIONES-->
  <!--========================================================== -->
{% block galeria1 %}
  <section id="galeria" class="container">
    <div class="text-center text-dark pt-5">
      <h1 class="fw-bold">Galeria</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur repellendus, facere voluptatem ipsa
        cum quasi est in natus fugit commodi aliquid incidunt perferendis accusantium rem eius nisi a itaque
        aspernatur.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="{% static 'img/kilometraje.jpg' %}" data-lightbox="mecanicos">
          <img src="{% static 'img/kilometraje.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="{% static 'img/kilometraje_2.jpg' %}" data-lightbox="mecanicos">
          <img src="{% static 'img/kilometraje_2.jpg' %}" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="{% static 'img/kilometraje_3.jpg' %}" data-lightbox="mecanicos">
          <img src="{% static 'img/kilometraje_3.jpg' %}" alt="">
        </a>
      </div>
    </div>
  </section>
{% endblock  %}

