{% extends 'base.html' %}
{% load static %}
{% block titulo %}
    <title>Trabajos</title>
{% endblock  %}

    {% block trabajos %}
    <main class="pt-5 m-auto" id="tarjetas">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="galeria">
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/reparacion_neumatico.jpg' %}"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Reparacion de neumatico</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <a href="{% url 'MANTENCION1' %}" class="btn btn-primary fw-bold text-light">Leer mas...</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">23 Enero 2021</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/cambio_aceite.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Cambio de aceite mas filtro</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <a href="{% url 'MANTENCION2' %}" class="btn btn-primary fw-bold text-light">Leer mas...</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">2 Diciembre 2020</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/Alineacion.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Alineacion y balanceo</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <a href="{% url 'MANTENCION3' %}" class="btn btn-primary fw-bold text-light">Leer mas...</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">22 Julio 2019</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/scanner.jpg' %}"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Scaner</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <a href="{% url 'MANTENCION4' %}" class="btn btn-primary fw-bold text-light">Leer mas...</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">30 Marzo 2021</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/limpieza.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Limpieza completa</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <a href="{% url 'MANTENCION5' %}" class="btn btn-primary fw-bold text-light">Leer mas...</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">4 Febrero 2021</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/kilometraje.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Revision 40.000 km</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <a href="{% url 'MANTENCION6' %}" class="btn btn-primary fw-bold text-light">Leer mas...</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">11 Noviembre 2018</small>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
